//Radio Buttons
.radio{
    position: relative;
    display: inline-block;
    padding-left: 25px;
    width: auto;
    float: left;
    margin-left: 15%;
    font-family: $roboto;
    font-weight: 100;
    padding-top: 3px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 12px;
    //Cambio 1: se agrega la propiedad line-heigth - para el interlineado.
    line-height: 14px;
    text-align: left;

    //forzar radio sin mrg left
    &--firts{
        margin-left: 0;
    }

    &:first-of-type {
       margin-left: 0;
       padding-top: 0;                             
    }

    &.radio--mrgnLeft{
        margin-left: 25%;
    }
    &.selectCheck{
        padding-left: 33px;
    }
    &.plRadio {
        padding-left: 23px;
        line-height: 17px;
        margin-bottom: 13px;
    }
    &.radio--mbCanguro {
        margin-bottom: 13px !important;
        font-size: 14px;
        text-align: left;
        line-height:16px,
    }
    //Cambio 2: Este strong se usa para darle estilos a los textos contenidos en el canguro de las paginas 5 7 y 7.1
    strong {
        font-weight: bold;
      }
    input{
        display: none;
        &:checked~.radio__indicator {
            &::after {
                opacity: 9;
            }
        }
    }

    //Radio Button
    .radio__indicator {
        position: absolute;
        //Se agrega la propiedad Top - para alinear de forma correcta los check box
        top: 1.5px;
        left: 0;
        height: 21px;
        width: 21px;
        background: transparent;
        border: 1.4px solid lighten($gris-cc, 5%);
        background-color: #fff;
        border-radius: 50%;

        transition-duration: .2s;
        &:hover{
            border: 1.4px solid darken($gris-cc, 25%);
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;

            width: 15px;
            height: 15px;
            background-color: $rojo;
            border-radius: 50%;

            box-sizing: unset;
            opacity: 0;
            transition-duration: .2s;
        }
        &.radio__indicator--top10 {
            top: 10px;
        }
        &.radio__indicator--top2 {
            top: 2px;
        }
        &.radio__indicator--small {
            height: 14px;
            width: 14px;

            &::after {
                width: 8px;
                height: 8px;
            }
        }
    }
}