//Formularios
form {
  display: inline-block;
  width: 100%;
  height: auto;
  transition-duration: .3s;

  //Container Iputs - !Importante!
  .input {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    &--mrgBtnMedium{
      margin-bottom: 13px;
    }
    &.input--sliderMarginBottom {
      margin-top: 10px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &.input--noMB {
      margin-bottom: 0;
    }

    &.input--widthAuto {
      width: 16%;
      position: relative;
      right: 0;
      left: 0;
      transform: translate(30%, 4px);
    }

    &.contentQuestion {
      padding: 0 8px 0 8px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;

      &.contentQuestions--customer{
        padding: 0 19px 0 3px;
      }
      //Cambio 3: Se agrega la clase noMrgnBtn con la propiedad margin-bottom: 0
      &--noMrgnBtn{
        margin-bottom: 0;
      }
    }

    input {
      &:disabled {
        opacity: .5;
      }
    }

    //Spans
    //Cambio 5: Se elimina la clase error-input
    span {
      display: inline-block;
      font-size: $font-p;
      color: $negro-57;

      &.span--TransRigth {
        transform: translateX(-19px);
      }
    }

    &--otp {
      input {
        text-align: center;
        letter-spacing: 5px;
        font-weight: bold;
        color: $negro-57;
        font-size: $font-p + 4;
      }
    }
  }
}

//FlexBox
.rowFlex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

  &.rowFlex--SpaceBetween {
    justify-content: space-between;
    align-items: center;
  }
// Esta clase se usa en la leyenda de la grafica
  &.rowFlex--leyend{
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: left;
    margin: 0 auto;
  }
// fin leyenda grafica
// Cambio 1: En la clase col-3 se agregan las propiedades padding y max-whidth
  .col-3 {
    width: 33%;
    padding: 0 4px;
    max-width: 90px;
  }
//cambio 2: Se agregan las pseudo clases first-child y last-child con sus respectivos padding's
  .rowFlex .col-3:first-child{
    padding: 0;
  }
  .rowFlex .col-3:last-child{
    padding: 0;
  }
  .col45 {
    width: 45% !important;
  }

  .col50 {
    width: 50%;
    margin-bottom: 5px;
      &.noMrgnBtn{
       margin-bottom: 0px;
      }
      //Cambio 4 Se usa esta margen para separar los campos de las pantallas 7 y 7-1
      &.mrgnBtn{
        margin-bottom: 5px;
       }
  }
}


.row {
  width: 100%;
  height: auto;
  margin-bottom: 6.5px;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
&.row--spaceBettwen{
  justify-content: space-between;
}
.infoRisk{
  transform: translateX(-20%);
}
  &.row--rowMarginBotton {
    margin-bottom: 12px;
  }

  &.row--rowNoMarginBotton {
    margin-bottom: 0;
  }

  &.row--rowMarginBottonMore {
    margin-bottom: 51px;
  }

  .col {
    width: 96%;
    height: 43px;
    background-color: #F8F8F8;
    -webkit-box-shadow: 1px 3px 5px #0000002b;
    -moz-box-shadow: 1px 3px 5px #0000002b;
    -ms-box-shadow: 1px 3px 5px #0000002b;
    box-shadow: 1px 3px 5px #0000002b;
    border-radius: 14px;
    margin: auto;
    display: flex;
    position: relative;

    .content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      max-width: 216px;

      .contentRadio {
        justify-content: center;
        display: flex;
        margin-top: 15px;
        margin-left: 7px;
      }

      .contentTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        left: 0;
        position: relative;
        width: 50%;
      }

      .contentIcon { 
        margin-right: 4px;
        width: 38px;
        height: 38px;
        display: inline-block;
        border-radius: 50px;
        background-color: #fff;
        box-shadow: 3px 3px 3px #00000040;
        position: relative;
        img{
          width: 100%;
          //Se Modifican las propiedades max-width y max-height
          max-width: 22px;
          max-height: 22px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

// Collapsed Objetive
.row--Content {
  height: auto;
  min-height: 79px;
  background: #EEEEEE;
  position: relative;
  transform: translate(0px, -33px);
  left: 0;
  z-index: 0;
  width: 97%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 34px 15px 18px 15px;
  margin: auto;
  margin-bottom: -15px;
  overflow: hidden;
  .row--Content__background{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 100% 120%;
    background-size: 76px 70px;

    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  &.vivienda {
    .row--Content__background{
      background-image: url('../images/icon-vivienda.svg');
      filter: grayscale(100%);
      opacity: .1;
    }
  }

  &.jubilacion {
    .row--Content__background{
      background-image: url('../images/retirement.svg');
    }
  }

  &.movilidad {
    .row--Content__background{
      background-size: 100px 85px;
      background-image: url('../images/mobility.svg');
    }
  }

  &.viaje {
    .row--Content__background{
      background-image: url('../images/travels.svg');
    }
  }

  &.educacion {
    .row--Content__background{
      background-image: url('../images/education.svg');
    }
  }

  &.familia {
    .row--Content__background{
      background-size: 70px 85px;
      background-image: url('../images/family.svg');
    }
  }

  &.capital {
    .row--Content__background{
      background-image: url('../images/capital.svg');
      //transform: translate(0px, -29px);
    }
  }

  &.otros {
    .row--Content__background{
      //transform: translate(0px, -29px);
    }
  }
}

//Labels Inputs - Dejar por fuera para evitar complicaciones con otros labels como Radiobuttons o Checkbox
label,
.label {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  font-family: $roboto;
  font-size: $font-p;
  color: $negro-57;
  text-align: justify;
  line-height: 16px;

  &.label--Small12 {
    font-size: 12px;
    text-align: left;
  }

  &.textSuggestion {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 14px;
    width: auto;
    margin-right: 3px;
  }

  &.left {
    text-align: left;
  }

  &.textCenter {
    text-align: justify;
    padding: 0 15px 0 15px;
    text-align-last: center;
  }

  strong {
    font-weight: bold;
  }

  &.footerSuggestion {
    margin-top: 26px;
    text-align: center;
    margin-bottom: 0;
    line-height: 16px;
  }
  &.footerAportes{
    margin-top: 13px;
    text-align: center;
    margin-bottom: 0;
    display: none;
  }
  &.footerDafuturo{
    margin-top: 13px;
    text-align: center;
    margin-bottom: 0;
  }
  &.paddingLateral20{
    padding: 0 20px 0 20px;
  }

  .item-seleccionado {
    display: block;
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    text-align: center;

    &.wrapperEllipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

//Gray boxes - inputs
.boxForm-Group {
  display: inline-block;
  width: 100%;
  background-color: $gris-ed;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;

  .boxForm__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 2%;
    text-align: center;
    margin-bottom: 5px;

    strong {
      font-weight: bold;
      color: $negro-57;
      font-size: $font-p;
    }

    img {
      display: inline-block;
      width: 11px;
      opacity: .5;
    }
  }
}
