<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Davivienda S.A.</title>
</head>

<body>
  <section class="container container--Fluid">

    <!-- Botón "atrás" Mobile -->
    <a href="javascript:void(0)" class="backButton">
      <span class="icon-dv-btnBack"></span>
      Atrás
    </a>
    <!-- Fin Botón "atrás" Mobile -->

    <!-- Resultados -->
    <div class="contentBox contentBox--boxConfirm contentBox--desktop contentBox--fullWidth">
      <div class="contentBox--boxConfirm__headerConfirm">
        <strong>Inversión por objetivo</strong>
      </div>

        <div class="result__alert">
            <div class="result__alert--main result__alert--main--center">
                <span class="icon-dv-resultFail icon"></span>
                <p>
                    <strong class="big">Transacción erronea</strong> <br>
                    Su solicitud no ha sido aprobada.
                </p>
            </div>
        </div>
      </div>
    </div>
    <!-- Fin Resultados -->
  </section>
  <script src="../js/main.js"></script>

</body>

</html>