<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/utils/rangeSlider/rangeslider.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Davivienda S.A.</title>
</head>

<body>
  <section class="container">

    <!-- Botón "atrás" Mobile -->
    <a href="javascript:void(0)" class="backButton">
      <span class="icon-dv-btnBack"></span>
      Atrás
    </a>
    <!-- Fin Botón "atrás" Mobile -->

    <!-- Tracking alterno - clase: dataNav__step--complete -->
    <div class="trackingMain">
      <div class="trackingMain__dataNav">
        <!-- No se necesita poner números en el tracking, van automaticos por CSS -->
        <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
        <a href="javascript:void(0)" class="dataNav__step"></a>
        <a href="javascript:void(0)" class="dataNav__step"></a>
      </div>
    </div>
    <!-- data-navn fin -->

    <!-- Cambio 3
      
      Se remplaza el h2 class="center noMrgn"
      Por el div class="contTextInformation contTextInformation--noMrgnBottom contTextInformation--big 
      Se creo el div contenedor para el texto y hasi crearle un lugar en el flij
   -->
    <div class="contTextInformation contTextInformation--noMrgnBottom contTextInformation--big">
      <p><strong>Para construir su objetivo, nuestras <br> recomendaciones son:</strong></p>
    </div>
    <!--Fin Cambio 3-->


    <!-- Formularios -->
      <!--Cambio 2 IMPORTANTE
          
        Se agregan las clases contentBox--Bg-Fd y contentBox--fullWidth
        Esto con el fin de cambiar el fondo del contenido y aumentar el tamaño de la caja contenedora
        con el fin de ampliar el espacio y asi evitar que la informacion se vea muy junta.
      -->
    <div class="contentBox contentBox--Bg-Fd contentBox--fullWidth">
      <div class="contentBoxInv contentBoxInv--percentage contentBoxInv--noPadding contentBoxInv--marginBottom15">
        <div class="d-flex justifyCenter alingCenter">
          <div class="col10"><img src="../images/icon-F-ArrowRight.svg" alt="" class="iconItem"></div>
          <div class="col90">
            <h2 class="regular mrgnTopBotton">Su dinero será invertido en el <strong>Fondo Voluntario de Pensiones
                Dafuturo.</strong>
              <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--small" style="position: relative;">
                <span class="icon-dv-tooltipInfo"></span>
              </a>
              <div class="tooltip tooltip--top">
                <!--Cambio 4
                  Se cambia el texto contenido en la etiqueta <p>
                  esto debido a que el texto contenido no es el correcto.
                -->
                <p>
                  Usted abrirá una cuenta invidivdual en el Fondo en el Fondo Voluntario de Pensiones de Jubilación y/o
                  invalidez Dafuturo. <br> <br>
                  Los productos de inversión son administrados por Fiduciaria Davivienda y distribuidos por Banco
                  Davivienda en virtud del contrato de red.
                </p>
              </div>
            </h2>
          </div>
        </div>
      </div>

      <!-- Caja Gris -->
      <div class="contentBoxInv contentBoxInv--percentage contentBoxInv--noPadding contentBoxInv--marginBottom15">

        <div class="d-flex justifyCenter alingCenter">
          <div class="col10"><img src="../images/icon-F-ArrowRight.svg" class="iconItem" alt=""></div>
          <div class="col90">
            <!--Cambio 7 
              Se elimina la etiqueta <br> contenida en el texto En Dafuturo, su inversión se distribuirá de la siguiente
                manera:
            -->
            <h2 class="regular mrgnTopBotton">En Dafuturo, su inversión se <strong>distribuirá de la siguiente
                manera:</strong>
              <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--small" style="position: relative;">
                <span class="icon-dv-tooltipInfo"></span>
              </a>
              <div class="tooltip">
                <!--Cambio 5
                  Se cambia el texto contenido en la etiqueta <p>
                  esto debido a que el texto contenido no es el correcto.
                -->
                <p>
                  Alternativas que conforman el Dafuturo y en los cuales se distribuirá su cuenta individual.
                </p>
              </div>
            </h2>
          </div>
        </div>
        <img src="../images/componente_Graf.png" alt="" style="width: 100%; max-width: 250px; display: block; margin: 0 auto;">
        <!-- Cambio 7
          Se modifica el texto y la imagen se cambio el png por una svg
          ya que la imagen se veia pixelada.
        -->
        <a href="" class="link-image link-image--Top20">
          Descargar detalle de la recomendación profesional
          <img src="../images/arrow-red-download.svg" class="link-image--img-download">
        </a>

        <hr class="barQuestion mt9">

        <h2 class="regular mrgnTopBotton  small12 center padding40">Rentabilidad histórica de los últimos 5 años del
          portafolio:<strong>5.6% E.A</strong>
          <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--small" style="position: relative;">
            <span class="icon-dv-tooltipInfo"></span>
          </a>
          <div class="tooltip">
            <p>
                <!--Cambio 6
                  Se cambia el texto contenido en la etiqueta p
                  esto debido a que el texto contenido no es el correcto.
                -->
              Importante: Rentabilidades pasada no garantizan rentabilidades futuras.
            </p>
          </div>
        </h2>

      </div>
      <!-- End Caja Gris -->

      <div class="contentBoxInv contentBoxInv--percentage contentBoxInv--noPadding">
        <div class="d-flex justifyCenter alingCenter">
          <div class="col10"><img src="../images/icon-F-ArrowRight.svg" class="iconItem" alt=""></div>
          <div class="col90">
            <!--Cambio 2
                Se elimina por completo el el <div class="tooltip">
                Se eliminó ya que no estaba contemplado en el diseño
            -->
            <h2 class="regular mrgnTopBotton">Con el fin de acompañarlo a alcanzar su objetivo,
              <strong>ajustaremos esta distribución automáticamente </strong>cuando las <strong>condiciones del mercado
              </strong>lo requieran.
            </h2>
          </div>
        </div>
      </div>
    </div>

    <label id="rangeRiskFooter" class="footerDafuturo paddingLateral20">
      ¿Desea aceptar <strong> nuestra recomendación profesional y abrir el producto de inversión?</strong>
    </label>
    <!--Cambio 8
      Se agrega la clase contButtons--noMrgnBtn
      esto para eliminar el margin bottom del mensaje de error
    -->
    <div class="contButtons contButtons--sameWidth contButtons--noMrgnBtn">
      <!-- <button type="button" class="button button--secondary button--back">Regresar</button> -->
      <button type="button" class="button widthBtnQuestion button--secondary" id="modificar">Salir</button>
      <button type="submit" class="button widthBtnQuestion button--primary" id="validar" disabled>Abrir
        producto</button>
    </div>

  </section>

  <script src="../js/jquery.min.js"></script>
  <script src="../js/inversion.js"></script>
  <script src="../js/rangeOld.js"></script>
  <script src="../js/rangeFunction.js"></script>
  <script>
    $('input[type="range"]').rangeslider({
      polyfill: false,
      onInit: function () {
        this.$range.append($(valueBubble));
        updateValueBubble(null, null, this);
      },
      onSlide: function (pos, value) {
        updateValueBubble(pos, value, this);
      }
    });
  </script>
</body>

</html>