<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/utils/rangeSlider/rangeslider.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">

        <!-- Botón "atrás" Mobile -->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!-- Fin Botón "atrás" Mobile -->
        <!-- Formularios -->

        <!--Cambio 21 IMPORTANTE
        
        Se agrega la clase contentBox--fullWidth
        Esto aumentar el tamaño de la caja contenedora.
        con el fin de ampliar el espacio y asi evitar que la informacion se vea muy junta.
        -->
        <div class="contentBox contentBox--fullWidth">
            <h2 class="regular noMrgnTop mgnBtn15 lineHeigth16">Ingrese los siguientes datos para simular su inversión y alcanzar su objetivo:
            </h2>
            <form action="" id="myForm">

                <!--Cambio 13

                    Se agrego la clase Input--noMB al div contenedor, esto con el fin de controlar los margin button
                
                -->

                <div class="input input--noMB">

                    <!--Cambio 5

                        Se borraró estas clase label—titleForm ya que no están aplicando propiedades.
                    -->

                    <label for="cantidadDinero">¿Cuánto dinero necesita para lograrlo?</label>
                    <input type="number" id="cantidadDinero" value="" placeholder="Ingrese el valor"
                        class="input--alert">
                        <!--Cambio 12
                        
                            Se agrego la siguiente clase - class="wrapper-error
                            Para tomar los estilos correspondientes al contenedor del tool tip.
                        -->
                    <div class="wrapper-error"><span class="error-input">Ingresar datos</span></div>
                </div>
 
                <!--Cambio 14

                    Se agrego la clase Input--noMB al div contenedor, esto con el fin de controlar los margin button
                
                -->
                <div class="input input--noMB">

                    <!--Cambio 6

                        Se borraró estas clase label—titleForm ya que no están aplicando propiedades.
                    -->

                    <label for="num-ases">¿En cuántos meses desea alcanzarlo?</label>    
                <!--Cambio 15

                    Se agrego la clase Input--noMB al div contenedor, esto con el fin de controlar los margin button
                
                -->
                    <div class="input input--noMB">
                        <input type="number" id="num-ases" value="" placeholder="Ingrese el número de meses">
                        <!--Cambio 1

                            Se elimino la siguiente clase buttonTooltip--transformTraslate100 y se dejo solo como
                            buttonTooltip
                            Esto soluciono el problema de posicionamiento en el icono de ayuda.
                        -->
                        <a href="javascript:void(0)" class="buttonTooltip">
                            <span class="icon-dv-tooltipAsk"></span>
                        </a>
                        <div class="tooltip">
                            <p>
                                Mínimo 12 meses, máximo 600 meses.
                            </p>
                        </div>
                    </div>
                    <!-- Cambio 3

                        Se cambio de linea el span contenido en el div para solucionar el error ocurrido en el tool tip.
                       
                        Se agrego la siguiente clase - class="wrapper-error
                        Para tomar los estilos correspondientes al contenedor del tool tip
                    -->
                    <div class="wrapper-error">
                        <span class="error-input">El número de meses debe ser entre 12 y 600 meses</span>
                    </div>
                    
                </div>
                <div class="input input--noMB">

                    <!--Cambio 7

                        Se borraró estas clase label—titleForm ya que no están aplicando propiedades.
                    -->
                    <label for="num-ases">¿Con cuánto dinero quiere iniciar su inversión?</label>
                    
                <!--Cambio 16

                    Se agrego la clase Input--noMB al div contenedor, esto con el fin de controlar los margin button
                
                -->
                    <div class="input input--noMB">
                        <input type="number" id="num-ases" value="" placeholder="Ingrese el valor">
                        <!--Cambio 2

                            Se elimino la siguiente clase buttonTooltip--transformTraslate100 y se dejo solo como
                            buttonTooltip
                            Esto soluciono el problema de posicionamiento en el icono de ayuda.
                        -->
                        <a href="javascript:void(0)" class="buttonTooltip">
                            <span class="icon-dv-tooltipAsk"></span>
                        </a>
                        <div class="tooltip">
                            <!--Cambio 11 

                                Se Cambio todo el texto contenido en esta etiqueta <p>
                            -->
                            <p>
                                Dinero que tiene disponible hoy para comenzar a construir su objetivo.
                            </p>
                        </div>
                    </div>
                    <!--Cambio 4

                        Se cambio de linea el span contenido en el div para solucionar el error ocurrido en el tool tip.
                        
                        Se agrego la siguiente clase - class="wrapper-error
                        Para tomar los estilos correspondientes al contenedor del tool tip
                    -->

                    <div class="wrapper-error"><span class="error-input">El valor mínimo debe ser $10.000</span></div>
                </div>

                <!--Cambio 17

                    Se agrego la clase Input--noMB al div contenedor, esto con el fin de controlar los margin button
                
                -->

                <div class="input input--noMB">

                    <!--Cambio 8

                        Se borraró estas clase label—titleForm ya que no están aplicando propiedades.

                        Se agrego la siguiente clase - class="wrapper-error
                        Para tomar los estilos correspondientes al contenedor del tool tip
                    -->
                    <label for="aporteMensual">¿Cuánto dinero aportaría mensualmente?</label>
                    <input type="number" id="AporteMensual" value="" placeholder="Opcional" class="input">
                        <div class="wrapper-error"><span class="error-input error-input--last">El valor mínimo debe ser $10.000</span></div>
                </div>

                <!-- start risk -->
                <div id="rangeRisk">
                    <hr class="barQuestion">
                    <div class="input inputSlider input--sliderMarginBottom">

                    <!--Cambio 9

                        Se borraró estas clase label—titleForm ya que no están aplicando propiedades.
                    -->
                        <label for="" clas>Para este objetivo de inversión sugerimos un nivel de riesgo acorde a
                            su perfil, aquí puede modificarlo:</label>
                           
                        <div class="contTextQuantity-n">
                         <span>Muy Bajo</span><span>Muy Alto</span></div>
                        <div class="rangeControl valor rangeControl--risk">
                            <input id="inputRange" type="range" min="0" max="10" value="0" data-thumbwidth="0"
                                style="position: absolute; width: 1px; height: 1px; overflow: hidden; opacity: 0;">
                            <div class="rangeslider rangeslider--horizontal" id="js-rangeslider-0">
                                <div class="rangeslider__fill" style="width: 67.6px;"></div>
                                <div class="rangeslider__handle rangeslider__handle--InversionBgNone" style="left: 57.6px;"></div>
                                <output class="rangeslider__value-bubble" style="left: 68px; display: none;"></output>
                            </div>
                        </div>
                       
                        <div class="contTextQuantity">
                       
                            <span>Nivel de riesgo</span>
                         
                            <span>
                                Nivel de riesgo
                                <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition">
                                    <!--Cambio 10
            
                                        Se modifico la clase del span para tomar las propiedades correspondietes.
                                    -->
                                    <span class="icon-dv-tooltipInfo"></span>
                                </a>
                                <div class="tooltip">
                                    <p>
                                        Si lo prefiere, puede modificar el nivel de riesgo dentro de las opciones habilitadas, las cuales no excederán el nivel maximo de su perfil. <br> <br>
                               Recuerde que un mayor riesgo incrementa las posibilidades de obtener altas rentabilidades y mayores pérdidas en la inversion.
                            
                                    </p>
                                </div>
                            </span>

                          </div>
                    </div>

                    
                <!--Cambio 18

                    Se agrego la clase Input--noMB al div contenedor, esto con el fin de controlar los margin button
                
                -->
                    <div class="input input--noMB">
                        <label for="ingresos-mensuales">Si está recibiendo ayuda de un <strong>asesor del
                                Banco,</strong> ingrese el código del asesor. </label>
                        <div class="input">
                            <input type="number" id="inicioDinero" value="" placeholder="Opcional">
                            <a href="javascript:void(0)" class="buttonTooltip">
                                <span class="icon-dv-tooltipAsk"></span>
                            </a>
                            <div class="tooltip">
                                <p>
                                    Si le prestaron asesoría, ingrese el código del asesor comercial que lo está
                                    ayudando con esta solicitud; de lo contrario, no diligencie este espacio.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end risk -->
            </form>
        </div>
        <!-- Fin Formularios -->

        <!-- Contenedor y Botones genericos - Siempre poner los botones dentro de contButtons -->
        <div class="contButtons contButtons--noMrgnBtn">
            <!-- <button type="button" class="button button--secondary button--back">Regresar</button> -->

            <!--Cambio 19

                Se modifica la clase del button para controlar los margin button correspondientes.    
            -->
            <button type="button" class="button widthBtnQuestion button--secondary button--width-customer" id="modificar"
                onclick="getRangeRiskModify()">Modificar datos</button>
            
            <!--Cambio 20

                Se modifica la clase del button para controlar los margin button correspondientes.    
            -->
            <button type="submit" class="button widthBtnQuestion button--secondary button--width-customer" id="validar"
                onclick="getRangeRisk()" disabled>Continuar</button>
        </div>
        <!-- Contenedor y Botones genericos -->

    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/inversion.js"></script>
    <script src="../js/rangeOld.js"></script>
    <script>
        //Range slider
        var valueBubble = '<output class="rangeslider__value-bubble" />';
        function updateValueBubble(pos, value, context) {
            pos = pos || context.position;
            value = value || context.value;
            var $valueBubble = $('.rangeslider__value-bubble', context.$range);
            var tempPosition = pos + context.grabPos;
            var position = (tempPosition <= context.handleDimension) ? context.handleDimension : (tempPosition >= context.maxHandlePos) ? context.maxHandlePos : tempPosition;

            if ($valueBubble.length) {
                $valueBubble[0].style.left = Math.ceil(position) + 'px';
                //$valueBubble[0].innerHTML = value;
            }
        }

        $('input[type="range"]').rangeslider({
            polyfill: false,
            onInit: function () {
                this.$range.append($(valueBubble));
                updateValueBubble(null, null, this);
            },
            onSlide: function (pos, value) {
                updateValueBubble(pos, value, this);
            }
        });

    </script>
</body>

</html>