/* Main Styles - Generic Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

    border-width: 0;
    -webkit-tap-highlight-color: transparent;
    &::selection {
        background: #d7d7d7;
    }
}

body {
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
    font-size: 0;
    box-sizing: border-box;

    background-color: $gris-fondo;
    //min-height: 100vh;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;

    font-family: $roboto;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover, &:focus {
        text-decoration: none;
    }
}

ol, ul {
    list-style: none;
}

img {
    padding: 0;
    margin: 0;
    border: 0;
}

img {
    padding: 0;
    margin: 0;
    border: 0;
    &.iconObjInv{
        padding: 0;
        margin: 0;
        border: 0;
        width: 37px;
        display: flex;
        align-items: center;
        &.iconObjInv--filterGray{
            filter: grayscale(0%);
            opacity: 1;
        }
    }
}