//-------------------------- Estudio de credito
.contStudyProcess{
    @include prefix((
        display: flex,
        align-items: center,
        align-content: center,
        justify-content: space-evenly,
        flex-direction: column
    ), webkit ms moz);
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    color: #fff;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 999;

    opacity: 0;
    pointer-events: none;
    transition-duration: .3s;

    .contStudyProcess__title {
        font-size: $font-p + 4;
        font-weight: bold;
        text-align: center;
        width: 85%;
        color: #fff;
    }
    .contStudyProcess__text {
        display: inline-block;
        width: 85%;
        text-align: center;
        span{
            display: inline-block;
            width: 100%;
            font-size: $font-p;
            font-weight: 300;
            margin-bottom: 25px;
            font-weight: normal;
        }
        strong{
            font-size: $font-p;
            color: $rojo;
            font-weight: bold;
        }
    }
}

.clockAnimation{
    border-radius: 50%;
    border: 8px solid #fff;
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 auto;
    &:after
    {
        content: "";
        position: absolute;
        background-color: #fff;
        top: 92px;
        left: 92px;
        height: 59px;
        width: 8px;
        border-radius: 6px;
        transform: rotate(180deg);
        @include prefix((
            transform-origin: 50% 0,
            animation: hourBar 5s linear infinite
        ), webkit moz o ms);
    }
    &:before
    {
        content: "";
        position: absolute;
        background-color: white;
        top: 92px;
        left: 92px;
        height: 44px;
        width: 8px;
        border-radius: 6px;
        @include prefix((
            transform-origin: 50% 0,
            animation: minutesBar 96s linear infinite
        ), webkit moz o ms);
    }
    &__item
    {
        height: 25px;
        width: 8px;
        border-radius: 3px;  
        background-color: white;
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
        margin: 0 auto;
        &:before
        {
            content: '';
            height: 25px;
            width: 8px;
            border-radius: 3px;  
            background-color: white;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 170px;
        }
        &--vertical
        {
            top: 81px;
            right: -170px;
            @include prefix((
                transform: rotate(90deg),
            ), webkit moz o ms);
        }
    }
}

@-webkit-keyframes hourBar
{
    0%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(540deg);}
}

@keyframes hourBar
{
    0%{transform:rotate(180deg);}
    100%{transform:rotate(540deg);}
}

@-webkit-keyframes minutesBar
{
    0%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(540deg);}
}

@keyframes minutesBar
{
    0%{transform:rotate(180deg);}
    100%{transform:rotate(540deg);}
}

//Evento mostrar Estudio de Crédito
.contStudyProcess--isShow{
    opacity: 1;
    pointer-events: inherit;
}