//Titulos genericos para todos los elementos
h1,
h2 {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    text-align: left;
    font-family: $roboto;
    font-size: $font-p;
    font-weight: bold;
    color: $negro-57;
    position: relative;
    //Cambio 1: se agrega la propiedad line-height para l interlineado del texto;
    line-height: 16px;

    &.textJustify,
    h2.textJustify {
        width: 101%;
        text-align: left;
    }

    &.m-left {
        margin-left: 9px !important;
    }

    &.title-question {
        position: relative;
        z-index: 1;
        margin-top: 0;
        margin-bottom: 24px;
        padding: 0 0 0 6px;
        font-size: 14px;
        text-align: left;
    }

    //Clases usables en todos los elementos del corte
    //.main -> De los titulos mas usados en toda la interface
    &.extraBig {
        font-size: 24px;
        margin: 5px 0 12px 0;
        font-weight: bold;
    }

    &.small {
        font-size: 12px;
        margin: 0;
        text-align: center;
        top: 3px;
        position: relative;
    }

    &.centerTitle {
        text-align: center;
        font-size: 12px !important;
    }

    &.title--mrgnBottom {
        margin-bottom: 12px !important;
    }

    &.customerFlex {
        margin: 11px 0 0 0;
        font-size: 12px !important;
    }
    &.customerFlex--noMrgn {
        margin: 0 0 0 0;
    }

    &.topTitleMargin {
        margin-bottom: 15px;
        margin-top: 0;
    }

    &.mrgnTopBotton {
        margin: 15px 0;
    }

    &.title-Obj {
        margin: 0 7px 35px 7px;
        font-size: 14px;
        padding-right: 11px;
    }

    &.main {
        text-align: center;
        font-size: $font-p + 2;
    }

    //.light -> Fuente light
    &.light {
        font-weight: 100;
    }

    //.regular -> Fuente regular
    &.regular {
        font-weight: normal;
    }

    &.mtBottomRange {
        margin-bottom: 28px;
    }

    //.justify -> Justificar texto
    &.justify {
        text-align: justify;
    }

    //.short -> Width más angosto
    &.short {
        width: 65%;
    }

    &.noFullWidth {
        width: 95%;
    }

    //.center -> Centrar el texto del titulo
    &.center {
        text-align: center;
    }

    &.line14 {
        line-height: 14px;
    }

    &.line16 {
        line-height: 16px;
    }

    &.left {
        text-align: left;
        font-size: $font-p + 2;
    }

    //.noMrgnTop -> 0 de margen arriba
    &.noMrgnTop {
        margin-top: 0;
    }

    &.lineHeigth16 {
        line-height: 16px;
    }

    &.mgnBtn15 {
        margin-bottom: 15px;
    }


    //.noMrgnBottom -> 0 de margen abajo
    &.noMrgnBottom {
        margin-bottom: 0;
    }

    //.noMrgn -> 0 de margen arriba y abajo
    &.noMrgn {
        margin: 0;
    }

    //En caso de tener un titulo regular se incuye in Strong cuando sea necesario
    strong {
        font-weight: bold;

        &.monto {
            font-size: 14px;
        }
    }

    &.small12 {
        font-size: 12px;
    }

    &.padding40 {
        padding: 0 40px 0 40px;
    }
}


/* Textos de ayuda helpers 10px - 14px | Generalmemnte van fuera de los boxes o
en algunos casos dentro de los mismos */
.contTextInformation {
    display: inline-block;
    width: 90%;
    text-align: center;
    margin: 15px 0;

    &--fullWidth {
        width: 100%;
    }

    &.mrgnTopMore {
        margin-top: 41px;
        margin-bottom: 0;
    }

    &--mrgnTop {
        margin-top: 15px;
    }

    &--mrgnBottom {
        margin-bottom: 15px;
    }

    &--noMrgnTop {
        margin-top: 0;
        //Se argrega la siguiente propiedad para controlar el interlineado, aprovechando el modificador ya existente.
        line-height: 12px;
    }

    &--noMrgnBottom {
        margin-bottom: 0;
    }

    &--big {
        p {
            font-size: $font-p;

            strong {
                font-size: $font-p;
            }
        }
    }

    p {
        font-size: $font-p - 2;
        color: $negro-57;

        strong {
            font-weight: bold;
            line-height: 16px;

            &.medium {
                font-size: $font-p;
            }
        }
    }
}