//-------------------------------- Variables

//Fuentes from Google fotns
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500,700);


//Colors
$blanco-f8: #F8F8F8;
$blanco-ff: #FFF;
$gris-fondo: #EAEAEA;
$gris-ed: #ededed;
$gris-e8: #E8E8E8;
$gris-cc: #cccccc;
$gris-cd: #cdcdcd;
$gris-a7: #a7a7a7;
$gris-93: #939393;
$gris-70: #707070;
$gris-3a: #3A3A3A;
$gris-c9: #c9c9c9;

$negro-00: #000000;
$negro-44: #444444;
$negro-57: #575757;
$negro-5c: #5c5c5c;

$rojo: #dd141d;


//Fonts
$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;


//Size Fonts
$font-p: 14px;
$font-h: 20px;