.link-image {
    font-size: 10px;
    color: $negro-57;
    text-decoration: underline;

    .link-image--img-download {

        margin-bottom: 0 !important;
        margin-left: 3px;
    }

    &.link-image--Top20 {
        margin-top: 20px;
    }
}

.link-image-medium {
    font-size: $font-p;
    color: $negro-57;
    text-decoration: underline;

    &--margin {
        margin: 15px 0 15px 0;
    }
}