//Checkboxes
.checkbox{
    display: block;
    position: relative;
    padding-left: 30px;
    padding-top: 4px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: $font-p;
    color: $negro-57;
    font-weight: 400;
    text-align: justify;
    font-family: $roboto;
    margin-bottom: 0;
    strong, a {
        display: inline;
        font-family: $roboto;
        color: $negro-57;
        font-weight: bold;
        text-decoration: underline;
        &.noTextDecoration {
            text-decoration: none;
        }
    }
    input[type="checkbox"] {
        opacity: 0;
        display: none;
        &:checked~.checkbox__indicator {
            &::after {
                opacity: 9;
            }
        }
    }
    .checkbox__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 21px;
        width: 21px;
        background: transparent;
        border: 1px solid $gris-cc;
        background-color: #fff;
        border-radius: 6px;

        transition-duration: .2s;
        &:hover{
            border: 1.4px solid darken($gris-cc, 25%);
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;

            width: 15px;
            height: 15px;
            background-color: $rojo;
            border-radius: 4px;

            box-sizing: unset;
            opacity: 0;
            transition-duration: .2s;
        }
    }

    //Para los toltips que están dentro de los Checkbox
    .buttonTooltip{
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transform: inherit;
    }
}